<div class="widget">
    <rd-widget-header>
        <div class="widget-header ng-binding">
            <i class="fas icon" data-translate="costosapiApp.costo.home.title">Costos</i>
        </div>
    </rd-widget-header>
</div>
<jhi-alert></jhi-alert>
<div class="content container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-2">
                    <button type="menu" class="btn pull-left" ng-click="vm.download()" title="Download"><i class="fa fa-download"></i></button>
                </div>
                <div class="col-md-1">
                    <button type="menu" class="btn pull-left" ui-sref="costo.new"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn .navbar-right" ng-click="vm.refresh()">
                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;
                </button>
            </div>
        </div>

        <hot-table settings=vm.settings datarows="vm.costos" hot-id="costosSheet" height=450>
            <hot-column title="'Id'" data="id" read-only/>
                <hot-column title="'Processed'" data ="processed"
                	type="'checkbox'" 
                />
                <hot-column title="'Monto'" data ="monto"
                	type="'numeric'" 
                />
                <hot-column title="'Porcentaje'" data ="porcentaje"
                	type="'numeric'" 
                />
                <hot-column title="'Anio'" data ="anio"
                	type="'numeric'" 
                />
                <hot-column title="'Mes'" data ="mes"
                	type="'numeric'" 
                />
                <hot-column title="'FechaRegistro'" data ="fechaRegistro"
                	type="'date'" 
                	date-format="'YYYY-MM-DD'"
                />
                <hot-column title="'Area'" data ="area"
                	type="'numeric'" 
                />
                <hot-column title="'ProyectoOperativo'" data ="proyectoOperativo"
                	type="'text'" 
                />
                <hot-column title="'ProyectoPresupuestal'" data ="proyectoPresupuestal"
                	type="'text'" 
                />
                <hot-column title="'Servicio'" data ="servicio"
                	type="'text'" 
                />
                <hot-column title="'TipoCosto'" data ="tipoCosto"
                	type="'text'" 
                />
                <hot-column title="'Partida'" data ="partida"
                	type="'numeric'" 
                />
                <hot-column title="'Proveedor'" data ="proveedor"
                	type="'text'" 
                />
                <hot-column title="'User'" data ="user"
                	type="'text'" 
                />
                <hot-column title="'Subpartida'" data ="subpartida"
                	type="'text'" 
                />
                <hot-column title="'SubSubPartida'" data ="subSubPartida"
                	type="'text'" 
                />
                <hot-column title="'NumeroFactura'" data ="numeroFactura"
                	type="'text'" 
                />
        </hot-table>
    </div>
</div>
